.about {
  background-color: rgb(22, 22, 22);
  color: #f9f9f9;
  padding: 100px 40px;
  text-align: center;
}

.about-content {
  max-width: 900px;
  margin: 0 auto;
}

.about h2 {
  font-size: 2.8rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.about-subtitle {
  font-size: 1.3rem;
  color: #f0ecec;
  margin-bottom: 25px;
  font-weight: 500;
}

.about-text {
  font-size: 1.1rem;
  line-height: 1.8;
  color: #f8f6f6;
  margin-bottom: 40px;
}

.about-placeholder {
  width: 100%;
  max-width: 650px;
  height: 280px;
  margin: 0 auto 40px;
  background-color: #dcdcdc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  color: #666;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.consult-btn {
  background-color: white;
  color: black;
  padding: 14px 30px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.consult-btn:hover {
  background-color: #333;
}

.about-image {
  margin: 30px 0;
  text-align: center;
}

.about-image img {
  max-width: 50%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
   background: transparent; 
}

