.client-carousel-section {
  background-color: rgb(22, 22, 22);
  color: #fff;
  text-align: center;
  padding: 50px 20px;
}

.client-carousel-section h2 {
  font-size: 2rem;
  margin-bottom: 40px;
}

.logo-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-slide img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  border-radius: 50%;        /* Make image round */
  background-color: white;   /* Optional: white background for contrast */
  padding: 10px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.1); /* Optional: soft shadow */
}

/* Dots styling */
.slick-dots li button:before {
  color: white !important;     /* Make dot white */
  opacity: 0.75;
  padding-top:10px;
}

.slick-dots li.slick-active button:before {
  color: white !important;     /* Active dot white */
  opacity: 1;
}
